<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Voting Application | IIM Calcutta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Voting App</a>
          <div class="nav-collapse">
            {% if session.logged_in %}
            <ul class="nav pull-right">

                <li><p class="navbar-text"><i class="icon-user icon-white"></i>
                {% if session.is_admin %}
                    {{ "Admin" }}
                {% else %}
                    {{ session.username }}
                {% endif %}
                </p>
                </li>
                <li class="divider-vertical"></li>
                <li><a id="modalClick" data-toggle="modal" href="#myModal">Help</a></li>
                <li class="divider-vertical"></li>
                {% if session.is_admin %}
                    <li><a href="{{ url_for('admin') }}">Admin Section</a></li>
                {% endif %}
                <li class="logout"><a id="logoutBtn" href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{category}}">
        <button class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
    {% endfor %}

    <script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    {% block body %}{% endblock %}

    <footer>
        <p>Handcrafted by Internet Solutions Group &copy; 2012</p>
    </footer>
    </div> <!-- /container -->

    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/modal.js')}}"></script>
    <script src="{{ url_for('static', filename='js/mustache.js')}}"></script>
    {% block custom_js %}{% endblock %}
    <script src="{{ url_for('static', filename='js/application.js')}}"></script>
  </body>
</html>

