{% extends "layout.html" %}
{% block body %}
    <div class="splash">
        <h2>LOGIN</h2>
        <form action="/login" id="login_form" method="POST" class="form-horizontal">
            <div class="control-group">
                <input type="text" class="input-large" name="username" placeholder="Username">
            </div>
            <div class="control-group">
                <input type="password" class="input-large" name="password" placeholder="Password">
            </div>
            <div class="control-group">
                <input type="text" class="input-large" name="coupon_code" placeholder="Coupon Code">
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-primary btn-large">Login and start voting</button>
            </div>
        </form>
    </div>
{% endblock %}
