{% extends "layout.html" %}
{% block body %}

    <div class="white_bg">
    <div class="row" style="margin-left: 0px;">
        <div class="sidebar span3">
           <ul class="nav nav-list post-list">
                <li class="nav-header"> Posts </li>
                {% for post in valid_post_list %}
                    <li><a class="post_toggle_link" href="#/{{ post.id }}">{{ post.name }}</a> </li>
                {% endfor %}
                <hr style="border-top: 1px solid #e2e2e2;">
            </ul>
            <div class="submit_btn">
                <a data-toggle="modal" class="btn btn-large btn-primary" href="#submitModal"> Submit My Vote! &rarr; </a> 
            </div>
        </div>

        <div id="error_notif" class="alert alert-error"></div>

        <div class="topdiv span8">
            <h1 class="post_heading"> </h1>
            <h6 class="post_help_text">hi there</h6>
            <div class="post_listing" id="main"> </div>
        </div>
    </div>
    </div>

    <div id="status" class="splash"> 
        <h3>Thank you for casting your vote</h3>
        <h6><span class="label label-info">Status</span> <span id="message"></span></h6>
        <h4>Please <a href="/logout">logout</a> to submit your votes</h4>
        <p><span class="label label-error">Note</span> Your votes will be recorded only if your logout</p>
    </div>

    <div id="myModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Help</h3>
        </div>
        <div class="modal-body">
            <h4>Lets keep this short</h4>
            <ol>
                <li>Use the left sidebar to move between posts</li>
                <li>Click on your favorite candidates to select them</li>
                <li>Keep moving from post to post and continue voting</li>
                <li>When you're done click on the BIG BLUE button and submit your vote</li>
                <li>Win!</li>
            </ol>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Close</a>
        </div>
    </div>

    <div id="submitModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Submit Vote?</h3>
        </div>
        <div class="modal-body">
            <strong>Are you sure you've selected all your favorite candidates across all the
            posts? </strong>
            <p>Your votes will be considered final after this step. If you're unsure and
            want to revisit your votes click on the "grey" button. If you're confident about
            your choice please click on the "Yup, I'm done" button </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn close_btn" data-dismiss="modal" >Not Sure</a>
            <a href="/#/submit" class="btn btn-primary">Yup, I'm Done</a>
        </div>
    </div>
{% endblock %}


{% block custom_js %}
    <script src="{{ url_for('static', filename='js/sammy.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sammy.template.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sammy.json.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sammy.storage.js')}}"></script>
    <script src="{{ url_for('static', filename='js/voting_sammy.js')}}"></script>
{% endblock %}
